.blog-header-lime-green {
	background: #00b09b;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.blog-header-sunrise {
	background: #1a2a6c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.blog-header-frost {
	background: #00C9FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.blog-header-timber {
	background: #fc00ff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.blog-header-bloody-mary {
	background: #FF512F;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
